@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Raleway:wght@400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
.multi__body {
    .multi__1block {
        background: url("img1/bg__main.png");
        width: 1510px;
        height: 747px;
        margin: auto;

        .multi__bg {
            background-color: #252b49;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            .block1__header {
                display: flex;
                width: 1170px;
                height: 100px;
                margin: auto;
                border-bottom: 1px solid #babbc5;
                .left__menu {
                    div {
                        text-transform: uppercase;
                        font-size: 45px;
                        display: flex;
                        margin-right: 270px;
                        margin-top: 19px;
                        span {
                            font-weight: 700;
                            font-size: 40px;
                            color: #656980;
                        }
                    }
                }
                .right__menu {
                    ul {
                        display: flex;
                        justify-content: flex-end;
                        margin: 0;
                        padding: 0;
                        li {
                            font-family: "Raleway";
                            font-weight: 700;
                            font-size: 13px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-transform: uppercase;
                            list-style-type: none;
                            width: 134px;
                            height: 100px;
                            a {
                                text-decoration: none;
                                color: #ffffff;
                            }
                        }
                        li:hover {
                            border-bottom: 3px solid #babbc5;
                        }
                    }
                }
                .menu{
                    display: none;
                    
                }
            }
            .block1__main--text {
                width: 1170px;
                height: 150px;
                text-transform: uppercase;
                margin: auto;
                color: #ffffff;
                font-size: 64px;
                text-align: center;
                margin-top: 130px;
                font-weight: 900;
                line-height: 75px;
                font-family: "Raleway";
                p {
                    text-align: center;
                    margin: 0;
                }
            }
            .block1__2text {
                font-family: "Raleway";
                font-weight: 400;
                width: 1170px;
                height: 56px;
                font-size: 24px;
                color: #ffffff;
                text-align: center;
                margin: auto;
                margin-top: 31px;
                margin-left: 170px;
            }
            .block1__button {
                button {
                    width: 370px;
                    height: 80px;
                    background: #ff4343;
                    border: none;
                    color: #ffffff;
                    font-size: 24px;
                    font-family: "Raleway";
                    font-weight: 900;
                    margin: 80px 570px 0 570px;
                }
                button:hover {
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: 1510px) {
        .multi__1block {
            width: 1024px;
            height: 768px;
            margin: auto;
            .multi__bg {
                .block1__header {
                    width: 984px;
                    height: 100px;
                    margin: auto;
                    border-bottom: 1px solid #babbc5;
                    .left__menu {
                        div {
                            margin-right: 180px;
                            span {
                            }
                        }
                    }
                    .right__menu {
                        ul {
                            li {
                                width: 112px;
                                height: 100px;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .block1__main--text {
                    margin-top: 157px;
                    width: 984px;
                    height: 112px;
                    text-align: center;
                    font-size: 48px;
                    line-height: 55px;
                }
                .block1__2text {
                    width: 984px;
                    height: 42px;
                    margin: auto;
                    margin-top: 60px;
                    font-size: 18px;
                }
                .block1__button {
                    button {
                        width: 314px;
                        height: 77px;
                        margin: 90px 355px 126px 355px;
                    }
                }
            }
        }
    }
    @media (max-width:1024px){
    
        .multi__1block{
            width: 320px;
            height: 574px;
            .multi__bg{
                width: 320px;
                .block1__header{
                    height: 50px;
                    border: none;
                    .left__menu{
                        margin-left: 20px;
                        width: 100px;
                        margin-top: 0;
                        
                        div{
                            
                            font-size: 30px;
                            span{
                                
                                font-size: 30px;
                            }
                        }
                    }
                    .right__menu{
                        display: none;
                        
                        ul{font-size: 10px;
                            li{
                                font-size: 10px;
                            }
                        }
                    }
                    .menu{
                        border-top: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        position: relative;
                    display: block;
                    width: 24px;
                    height: 18px;
                    margin-left: 140px;
                    margin-top: 23px;
                    margin-bottom: 19px;
                    margin-right: 35px;
                    z-index: 10;
                    span{
                        position: absolute;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        top: 8px;
                        background-color: #FFFFFF;
                    }
                    }
                    .menu:hover{
                        cursor: pointer;
                    }
                }
                .block1__main--text{
                    width: 280px;
                    height: 210px;
                    font-size: 36px;
                    margin: 70px 20px 30px 20px;
                    line-height: 43px;
                    
                }
                .block1__2text{
                    width: 280px;
                    height: 64px;
                    margin: 0 20px 50px 20px;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                }
                .block1__button{
                    button{
                        width: 280px;
                        height: 60px;
                        margin: 0 20px 60px 20px;
                        font-size: 18px;
                        opacity: 1;
                    }
                    
                }
            }
        }
    }
        
    

    .multi__2block {
        width: 1170px;
        margin: auto;
        margin-top: 116px;
        .block2__parts {
            display: grid;

            grid-template-columns: 400px 400px 400px;
            grid-template-rows: 400px 400px;
            .multi__block--part {
                width: 370px;
                height: 305px;
                text-align: center;
                .block__part--img {
                    height: 100px;
                    display: flex;
                    justify-content: center;
                }
                .block__part--name {
                    margin-top: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    height: 72px;
                    width: 370px;
                    font-family: "Raleway";
                    font-size: 24px;
                    font-weight: 900;
                    margin-bottom: 20px;
                }
                .block__part--text {
                    font-family: "Raleway";
                    width: 370px;
                    height: 84px;
                    color: #6c7279;
                    font-size: 18px;
                }
            }
        }
    }
    @media (max-width: 1510px) {
        .multi__2block {
            width: 984px;
            margin: auto;
            margin-top: 78px;
            .block2__parts {
                display: grid;
                grid-template-columns: 335px 335px 335px;
                grid-template-rows: 290px 290px;
                .multi__block--part {
                    width: 315px;
                    height: 237px;
                    .block__part--img {
                        img {
                            width: 85px;
                            height: 85px;
                        }
                    }
                    .block__part--name {
                        margin-top: 25px;
                        width: 315px;
                        height: 60px;
                        margin: auto;
                        font-size: 18px;
                        margin-bottom: 4px;
                    }
                    .block__part--text {
                        width: 315px;
                        height: 64px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media(max-width:1024px){
        .multi__2block{
            width: 320px;
            .block2__parts{
                
                display: block;
                .multi__block--part{
                    width: 280px;
                    margin: auto;
                    margin: 30px 20px;
                    .block__part--name{
                        width: 280px;
                        height: 53px;
                    }
                    .block__part--img{
                        height: auto;
                        margin-bottom: 30px;
                        img{
                            width: 75px;
                            height: 75px;
                        }
                    }
                    .block__part--text{
                        
                        font-size: 14px;
                        width: 280px;
                        height: 80px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
    .multi__block3 {
        width: 1510px;
        margin: auto;
        .multi__block3--pictures {
            position: relative;
            z-index: 0;
            ul {
                display: grid;
                margin: auto;
                padding: 0;
                width: 100%;
                grid-template-columns: 378px 380px 378px 378px;
                grid-template-rows: 340px 340px;
                z-index: 0;
                position: relative;
                li {
                    list-style-type: none;
                    position: relative;
                    z-index: 1;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    .text1 {
                        position: absolute;
                        left: 55%;
                        top: 40%;
                        transform: translate(-60%, -60%);
                        color: #fff;
                        z-index: 1;
                        opacity: 0;
                        transition: 0.3s;
                        font-size: 24px;
                        font-family: "Raleway";

                        font-weight: 900;
                        margin-bottom: 20px;
                    }
                    .text2 {
                        position: absolute;
                        left: 51%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        z-index: 1;
                        opacity: 0;
                        font-family: "Raleway";

                        transition: 0.3s;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
                li::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    background: rgba(255, 67, 67, 0.8);
                    transition: 0.3s;
                }
                li:hover::after {
                    opacity: 1;
                }
                li:hover {
                    .text1 {
                        opacity: 1;
                        transition: 0.3s;
                    }
                    .text2 {
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    @media (max-width: 1510px) {
        .multi__block3 {
            width: 1024px;
            .multi__block3--pictures {
                ul {
                    display: grid;
                    grid-template-columns: 257px 257px 257px 257px;
                    grid-template-rows: 230px 230px;
                    li {
                        .text1 {
                            display: flex;
                            
                            margin: auto;
                            width: 257px;
                            height: 40px;
                            font-size: 18px;
                            margin-bottom: 12px;
                            left: 85%;
                            top: 45%;
                        }
                        .text2 {
                            top: 60%;
                            left: 70%;
                            display: flex;
                            
                            margin: auto;
                            width: 257px;
                            height: 20px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width:1024px){
        .multi__block3{
            width: 320px;
            .multi__block3--pictures{
                ul{
                    display: grid;
                    grid-template-columns: 160px 160px;
                    grid-template-rows: 144px 144px 144px 144px;
                    li{
                        .text1{
                            width: 160px;
                            margin: auto;
                            height: 25px;
                            left: 75%;
                        }
                        .text2{
                            width: 160px;
                            margin: auto;
                            height: 16px;
                            left: 60%;
                        }
                        
                    }
                }
            }
        }
    }
    .multi__block4 {
        width: 1170px;
        margin: auto;
        margin-top: 114px;
        margin-bottom: 115px;
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        .multu__block4--el {
            width: 270px;
            height: 620px;
            .multi__4block--img {
                width: 270px;
                margin: auto;
            }
            .multi__4block--name {
                width: 270px;
                height: 30px;
                display: flex;
                align-items: center;
                font-weight: 700;
                font-size: 24px;
                font-family: "Raleway";
                margin-top: 30px;
                margin-bottom: 5px;
            }
            .multi__4block--rang {
                color: #ff4343;
                font-size: 18px;
                font-weight: 400;
                width: 270px;
                display: flex;
                font-family: "Raleway";
                align-items: center;
                height: 21px;
                text-transform: uppercase;
            }
            .multi__4block--desc {
                width: 270px;
                height: 168px;
                font-size: 18px;
                font-family: "Raleway";
                font-weight: 400;
                color: #6c7279;
                text-align: left;
                margin-top: 18px;
            }
            .multi__4block--links {
                display: flex;
                margin-top: 38px;
                .link1 {
                    margin-right: 5px;
                }
                .link3 {
                    margin-left: 5px;
                }
            }
        }
    }
    @media (max-width: 1510px) {
        .multi__block4 {
            width: 984px;
            margin: auto;
            display: grid;
            margin-top: 78px;
            margin-bottom: 78px;
            grid-template-columns: 252px 252px 252px 252px;
            .multu__block4--el {
                width: 227px;
                height: 520px;
                .multi__4block--img {
                    img {
                        width: 227px;
                    }
                }
                .multi__4block--name {
                    width: 227px;
                    height: 25px;
                    font-size: 18px;
                    margin-top: 25px;
                }
                .multi__4block--rang {
                    width: 227px;
                    height: 16px;
                    font-size: 14px;
                }
                .multi__4block--desc {
                    width: 227px;
                    height: 128px;
                    font-size: 14px;
                    margin-top: 22px;
                }
            }
        }
    }
    @media(max-width:1024px){
        .multi__block4{
            width: 320px;
            display: block;
            
            margin-top: auto;
            .multu__block4--el{
                
                width: 280px;
                height: 520px;
                margin: auto;
                margin-top: 30px;
            }
            .multi__4block--img{
                margin: 0;
                img{
                    width: 280px;
                    height: 227px;
                    margin-left: 0;
                }
                
            }
            .multi__4block--name{
                width: 280px;
                height: 25px;
                margin-left: 0;
            }
            .multi__4block--rang{
                width: 280px;
                height: 16px;
                margin-left: 0;
            }
            .multi__4block--desc{
                width: 280px;
                height: 96px;
                margin-left: 0;
            }
            .multi__4block--links{
                width: 280px;
                width: auto;
                margin: auto;
                
            }
        }
    }
    .multi__block5 {
        width: 1510px;
        height: 535px;
        margin: auto;
        .block5__main {
            height: 490px;
            display: flex;
            .multi__block5--left {
                width: 741px;
            }
            .multi__block5--right {
                width: 769px;
                height: 490px;
                margin: auto;
                background-color: #5c3249;
                .multi__block5--text {
                    width: 470px;
                    height: 230px;
                    font-size: 36px;
                    line-height: 49px;
                    margin: 116px 170px 0 129px;
                    color: #ffffff;
                    font-weight: 400;
                    p{
                        font-style: italic;
                        font-family: "Cardo";
                    }
                }
                .multi__block5--auth {
                    font-weight: 700;
                    font-size: 13px;
                    width: 470px;
                    font-family: "Raleway";
                    height: 28px;
                    margin: 0 170px 116px 130px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                }
            }
        }
        .block5__buttons {
            height: 45px;
            margin-top: 30px;
            ul {
                margin-right: 50px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                li {
                    list-style-type: none;
                    margin: 0 12.5px;
                }
            }
        }
    }
    @media (max-width: 1510px) {
        .multi__block5 {
            width: 1024px;
            height: 365px;
            margin: auto;
            .block5__main {
                height: 332px;
                .multi__block5--left {
                    width: 502px;
                    img {
                        height: 332px;
                    }
                }
                .multi__block5--right {
                    width: 522px;
                    height: 332px;
                    .multi__block5--text {
                        width: 330px;
                        height: 156px;
                        font-size: 24px;
                        line-height: 32px;
                        margin: 47px 104px 0 88px;
                    }
                    .multi__block5--auth {
                        width: 330px;
                        height: 19px;
                        font-size: 12px;
                        margin: 0 104px 110px 88px;
                    }
                }
            }
            .block5__buttons {
                height: 33px;
                margin-top: 25px;
                ul {
                    li {
                        img {
                            height: 10px;
                            width: 10px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width:1024px){
        .multi__block5{
            height: 570px;
            width: 320px;
            margin: auto;
            .block5__main{
                display: inline-block;
                height: 538px;
                
                .multi__block5--left {
                    width: 320px;
                    margin: auto;
                    
                    img {
                        display: block;
                        width: 320px;
                        height: 212px;
                    }
                }
                .multi__block5--right{
                    width: 320px;
                    height: 326px;
                    display: flex;
                    .class{
                        width: 275px;
                            height: 156px;
                        .multi__block5--text{
                            width: 275px;
                            height: 156px;
                            margin: 0 25px 0 20px;
                            font-size: 24px;
                            p{
                                height: 206px;
                                line-height: 32px;
                            }
                        }
                        .multi__block5--auth{
                        width: 275px;
                        height: 25px;
                        font-size: 12px;
                        line-height: 14px;
                        margin: 0 25px 90px 20px;
                        }
                    }
                    
                    
                }
            }
            
        }
    }
    .multi__footer {
        width: 1510px;
        margin: auto;
        margin-top: 115px;
        .footer__main {
            color: #000000;
            font-size: 30px;
            font-weight: 500;
            width: 1170px;
            height: 70px;
            font-family: "Raleway";
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
        }
        .footer__text {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000;
            font-size: 18px;
            font-weight: 700;
            width: 1170px;
            height: 21px;
            font-family: "Raleway";
            text-transform: uppercase;
            text-align: center;
            margin: auto;
        }
        .footer__button {
            button {
                width: 370px;
                height: 80px;
                background: #ff4343;
                border: none;
                color: #ffffff;
                font-size: 24px;
                font-weight: 900;
                font-family: "Raleway";
                margin: 50px 570px 114px 570px;
            }
            button:hover {
                cursor: pointer;
            }
        }
        .footer__end {
            width: 1510px;
            margin: auto;
            background: #353c65;
            .end__part1 {
                height: 250px;
                width: 1170px;
                margin: auto;
                display: flex;
                .end__location {
                    .name__footer {
                        p {
                            color: #fff;
                            width: 370px;
                            height: 21px;
                            font-family: "Raleway";
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                            margin-top: 70px;
                            text-transform: uppercase;
                        }
                    }
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        width: 370px;
                        height: 21px;
                        font-family: "Raleway";
                        text-align: center;
                        color: #fff;
                        margin-top: 29px;
                    }
                }
                .end__social {
                    .name__footer {
                        p {
                            color: #fff;
                            width: 370px;
                            height: 21px;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                            font-family: "Raleway";
                            margin-top: 70px;
                            text-transform: uppercase;
                        }
                    }
                    ul {
                        display: flex;
                        margin-left: 47px;
                        margin-top: 48px;
                        li {
                            list-style-type: none;
                            margin: 0 13.5px;
                        }
                    }
                }
                .end__about {
                    .name__footer {
                        p {
                            color: #fff;
                            width: 370px;
                            height: 21px;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                            margin-top: 70px;
                            font-family: "Raleway";
                            text-transform: uppercase;
                        }
                    }
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        width: 370px;
                        height: 63px;
                        line-height: 21px;
                        text-align: center;
                        color: #fff;
                        margin-top: 29px;
                        font-family: "Raleway";
                    }
                }
            }
            .end__part2 {
                background: #2c3154;
                height: 90px;
                width: 1510px;
                margin: auto;
                .copyright {
                    width: 1510px;
                    height: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        width: 370px;
                        height: 42px;
                        text-align: center;
                        color: #808080;
                        font-size: 18px;
                        font-family: "Raleway";
                        font-weight: 400;
                        margin: 24px 570px;
                    }
                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
    @media (max-width: 1510px) {
        .multi__footer {
            width: 1024px;
            margin: auto;
            margin-top: 77px;
            .footer__main {
                width: 984px;
                height: 60px;
                font-size: 24px;
            }
            .footer__text {
                width: 984px;
                height: 16px;
                font-size: 14px;
            }
            .footer__button {
                button {
                    width: 313px;
                    height: 77px;
                    font-size: 18px;
                    margin: 44px 355px 78px 355px;
                }
            }
            .footer__end {
                width: 1024px;
                margin: auto;
                .end__part1 {
                    height: 170px;
                    width: 984px;
                    margin: auto;
                    .end__location {
                        .name__footer {
                            p {
                                width: 315px;
                                height: 16px;
                                font-size: 14px;
                                margin-top: 45px;
                            }
                        }
                        p {
                            width: 315px;
                            height: 16px;
                            font-size: 14px;
                        }
                    }
                    .end__social {
                        .name__footer {
                            p {
                                width: 315px;
                                height: 16px;
                                font-size: 14px;
                                margin-top: 45px;
                            }
                        }
                        ul {
                            margin-left: 28;
                            margin-top: 33px;
                            li {
                                a {
                                    img {
                                        width: 33px;
                                        height: 33px;
                                    }
                                }
                            }
                        }
                    }
                    .end__about {
                        .name__footer {
                            p {
                                width: 315px;
                                height: 16px;
                                font-size: 14px;
                                margin-top: 45px;
                            }
                        }
                        p {
                            width: 315px;
                            height: 48px;
                            font-size: 14px;
                            text-align: center;
                            margin-top: 15px;
                        }
                    }
                }
                .end__part2 {
                    height: 60px;
                    width: 1024px;
                    margin: auto;
                    .copyright {
                        width: 984px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            width: 315px;
                            height: 32px;
                            font-size: 14px;
                            margin: 15px 355px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width:1024px){
        .multi__footer{
            width: 320px;
            margin: auto;
            .footer__main{
                width: 280px;
                height: 80px;
                font-size: 18px;
                margin-top: 35px;
                text-align: center;
            }
            .footer__text{
                width: 280px;
                height: 30px;
                font-size: 13px;
            }
            .footer__button{
                button{
                    width: 280px;
                    height: 77px;
                    font-size: 18px;
                    margin: 13px 25px 45px 20px;
                }
                
            }
            .footer__end {
                width: 320px;
                margin: auto;
                .end__part1 {
                    height: 450px;
                    width: 320px;
                    margin: auto;
                    display: block;
                    .end__location {
                        
                        .name__footer {
                            
                            p {
                                width: 280px;
                                height: 16px;
                                font-size: 14px;
                                margin: auto;
                                padding-top: 35px;
                                padding-bottom: 35px;
                            }
                        }
                        p {
                            margin-top: 0;
                            width: 315px;
                            height: 16px;
                            font-size: 14px;
                            margin-bottom: 70px;
                        }
                    }
                    .end__social {
                        .name__footer {
                            p {
                                width: 280px;
                                margin-left: 20px;
                                
                                font-size: 14px;
                                
                            }
                        }
                        
                    }
                    .end__about {
                        .name__footer {
                            p {
                                width: 280px;
                                
                                margin-left: 20px;
                                margin-bottom: 40px;
                            }
                        }
                        p {
                            width: 280px;
                            margin-left: 20px;
                            margin-bottom: 33px;
                        }
                    }
                }
                .end__part2 {
                    height: 90px;
                    width: 320px;
                    margin: auto;
                    text-align: center;
                    .copyright {
                        width: 280px;
                        height: 32px;
                        text-align: center;
                        p {
                            width: 280px;
                            height: 32px;
                            font-size: 14px;
                            margin: 0;
                            line-height: 16px;
                            margin: auto;
                            padding: 28px 0 20px 50px;
                        }
                    }
                }
            }

        }
    }
}
