.multi__body{
.multi__1block{
    background: url("img1/bg__main.png");
    width: 1510px;
    height: 747px;
    margin: auto;
    
    .multi__bg{
        background-color: #252B49;
        width: 100%;
        height: 100%;
        opacity: 0.8;
    .block1__header{
        display: flex;
        width: 1170px;
        height: 100px;
        margin: auto;
        border-bottom:1px solid #BABBC5 ;
        .left__menu{
            div{
                font-size: 45px;
                display: flex;
                margin-right: 320px;
                margin-top: 19px;
                span{
                    
                
                font-weight: 700;
                    font-size: 45px;
                    color: #656980;
                }
            }
        }
        .right__menu{
            ul {
            display:flex ;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    list-style-type: none;
                    width: 134px;
                    height: 100px;
                    a{
                    
                        text-decoration: none;
                        color: #FFFFFF;
                        
                    }
                    
                }
                li:hover{
                    border-bottom: 3px solid #BABBC5;
                }
                
            }
        }
    }
    .block1__main--text{
        width: 1170px;
        height: 150px;
        margin: auto;
        color: #FFFFFF;
        font-size: 64px;
        text-align: center;
        margin-top: 130px;
    }
    .block1__2text{
        
        width: 1170px;
        height: 56px;
        font-size: 24px;
        color: #FFFFFF;
        text-align: center;
        margin: auto;
        margin-top: 31px;
        margin-left: 170px;
    }
    .block1__button{
        button{ 
            width: 370px;
            height: 80px;
            background: #FF4343;
            border: none;
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 900;
            margin: 80px 570px 0 570px;
        }
        button:hover{
            cursor: pointer;
        }
    }
}
}
.multi__2block{
    width: 1170px;
    margin: auto;
    margin-top: 116px;
    .block2__parts{
        display: grid;
        
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 400px 400px ;
    .multi__block--part{
        width: 370px;
        height: 305px;
        text-align: center;
        .block__part--img{
            
            height: 100px;
            display: flex;
            justify-content: center;
        }
        .block__part--name{
            margin-top: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            height: 72px;
            width: 370px;
            font-size: 24px;
            font-weight: 900;
            margin-bottom: 20px;
        }
        .block__part--text{
            width: 370px;
            height: 84px;
            color: #6C7279;
            font-size: 18px;
        }
    }
}}
.multi__block3{
    width: 1510px;
    margin: auto;
    .multi__block3--pictures{
        position: relative;
        z-index: 0;
        ul{
            
            display: grid;
            margin: auto;
            padding: 0;
            width: 100%;
            grid-template-columns: 378px 380px 378px 378px;
            grid-template-rows: 340px 340px ;
            z-index: 0;
            position: relative;
            li{
                list-style-type:none;
                position: relative;
                z-index: 1;
                img{
                width: 100%;
                height: 100%;
                }
                .text1{
                    position: absolute;
                    left: 55%;
                    top: 40%;
                    transform: translate(-60%, -60%);
                    color: #fff;
                    z-index: 1;
                    opacity: 0;
                    transition: 0.3s;
                    font-size: 24px;
                    font-weight: 900;
                    margin-bottom: 20px;
                }
                .text2{
                    position: absolute;
                    left: 51%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    z-index: 1;
                    opacity: 0;
                    transition: 0.3s;
                    font-size: 18px;
                    font-weight: 400;
                }
                
            }
            li::after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                height: 100%;
                width: 100%;
                opacity: 0;
                background:rgba(255, 67, 67, 0.8) ;
                transition: 0.3s;
            }
            li:hover::after {
                opacity: 1;
                
            }
            li:hover{
                .text1{
                    
                    opacity: 1;
                    transition: 0.3s;
                }
                .text2{
                    
                    opacity: 1;
                    transition: 0.3s;
                }
                
            }
            
        }
    }
}
}